$color-background = #f9f9f9
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 10%)
$color-border = #333
$color-scrollbar = #999
$color-meta = #333
$color-meta-code = lighten($color-meta, 10%)
$color-link = lighten($color-meta, 25%)
$color-text = #555
$color-accent-1 = #2a9292
$color-accent-2 = #333
$color-accent-3 = #333
$color-quote = #777
$highlight = hexo-config("highlight") || "atelier-cave-light"
